<div class="main-card">
    <!-- LEFT SIDE -->
    <div class="my-card-left">
        <h1>Hello, Welcome to My Profile</h1>

        <p>
            Mahasiswa Teknik Informatika semester 7 di Universitas Indraprasta
            <br />
            Dengan minat di bidang Web Development. Berpengalaman membangun
            aplikasi web front-end dan back-end, termasuk website company
            profile, e-commerce, dan aplikasi Point of Sale. Terampil dalam
            kepemimpinan, komunikasi tim, dan adaptasi teknologi baru.
        </p>

        <div class="socials">
            <a href="https://www.instagram.com/nnaaell/">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/roy-natanael-saing/">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>

        <div class="buttons">
            <a href="/contact" class="my-btn">Contact</a>
            <a href="https://drive.google.com/file/d/1rOvuR4RNAis0Ah2K0C7yk5PgbNDutceX/view?usp=drive_link"
                class="my-btn-outline">
                <i class="fas fa-download"></i> Download CV
            </a>
        </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="my-card-right">
        <img src="./assets/img/potogweh.jpeg" class="profile" />

        <h2>Roy Natanael Saing</h2>
        <h3>Fullstack Developer</h3>
    </div>
</div>