<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <h2 class="text-center mb-4" style="color: #333">REGISTER</h2>

      {{#if flash}}
        <div class="alert alert-{{flash.type}}" role="alert">
          {{flash.message}}
        </div>
      {{/if}}
      <form action="/register" method="POST">
        <!-- Name -->
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            required
          />
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            required
          />
        </div>

        <!-- Password -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            required
          />
        </div>

        <!-- Submit Button -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
          <button type="submit" class="my-btn">Register</button>
        </div>
      </form>

      <div class="text-center mt-3">
        <p>Already have an account?
          <a
            href="/login"
            style="color: black; font-weight: bold; text-decoration: none;"
          >Login here</a></p>
      </div>
    </div>
  </div>
</div>